## Data processing

* ###  We have quite a few columns with string data (categorical) which needs to be converted into numeric form for model training and  fitting.
* ### First , we will change the EmpNumber to the dataframe index.
* ###  Checking for outliers and processing them if needed
* ###  Standardise the data to scale the data uniformly

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data.csv')
df

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
0,E1001000,32,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,10,3,...,4,10,2,2,10,7,0,8,No,3
1,E1001006,47,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,14,4,...,4,20,2,3,7,7,1,7,No,3
2,E1001007,40,Male,Life Sciences,Married,Sales,Sales Executive,Travel_Frequently,5,4,...,3,20,2,3,18,13,1,12,No,4
3,E1001009,41,Male,Human Resources,Divorced,Human Resources,Manager,Travel_Rarely,10,4,...,2,23,2,2,21,6,12,6,No,3
4,E1001010,60,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,16,4,...,4,10,1,3,2,2,2,2,No,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,E100992,27,Female,Medical,Divorced,Sales,Sales Executive,Travel_Frequently,3,1,...,2,6,3,3,6,5,0,4,No,4
1196,E100993,37,Male,Life Sciences,Single,Development,Senior Developer,Travel_Rarely,10,2,...,1,4,2,3,1,0,0,0,No,3
1197,E100994,50,Male,Medical,Married,Development,Senior Developer,Travel_Rarely,28,1,...,3,20,3,3,20,8,3,8,No,3
1198,E100995,34,Female,Medical,Single,Data Science,Data Scientist,Travel_Rarely,9,3,...,2,9,3,4,8,7,7,7,No,3
1199,E100998,24,Female,Life Sciences,Single,Sales,Sales Executive,Travel_Rarely,3,2,...,1,4,3,3,2,2,2,0,Yes,2

In [3]:
df.set_index('EmpNumber', inplace=True)

### Basic Checks

In [4]:
df.shape

(1200, 27)

In [5]:
df.columns

Index(['Age', 'Gender', 'EducationBackground', 'MaritalStatus',
       'EmpDepartment', 'EmpJobRole', 'BusinessTravelFrequency',
       'DistanceFromHome', 'EmpEducationLevel', 'EmpEnvironmentSatisfaction',
       'EmpHourlyRate', 'EmpJobInvolvement', 'EmpJobLevel',
       'EmpJobSatisfaction', 'NumCompaniesWorked', 'OverTime',
       'EmpLastSalaryHikePercent', 'EmpRelationshipSatisfaction',
       'TotalWorkExperienceInYears', 'TrainingTimesLastYear',
       'EmpWorkLifeBalance', 'ExperienceYearsAtThisCompany',
       'ExperienceYearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'Attrition', 'PerformanceRating'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1200 entries, E1001000 to E100998
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Age                           1200 non-null   int64
 1   Gender                        1200 non-null   object
 2   EducationBackground           1200 non-null   object
 3   MaritalStatus                 1200 non-null   object
 4   EmpDepartment                 1200 non-null   object
 5   EmpJobRole                    1200 non-null   object
 6   BusinessTravelFrequency       1200 non-null   object
 7   DistanceFromHome              1200 non-null   int64
 8   EmpEducationLevel             1200 non-null   int64
 9   EmpEnvironmentSatisfaction    1200 non-null   int64
 10  EmpHourlyRate                 1200 non-null   int64
 11  EmpJobInvolvement             1200 non-null   int64
 12  EmpJobLevel                   1200 non-null   int64
 13  EmpJobSatisfaction            1200 non-null   int64
 14  NumCompaniesWorked            1200 non-null   int64
 15  OverTime                      1200 non-null   object
 16  EmpLastSalaryHikePercent      1200 non-null   int64
 17  EmpRelationshipSatisfaction   1200 non-null   int64
 18  TotalWorkExperienceInYears    1200 non-null   int64
 19  TrainingTimesLastYear         1200 non-null   int64
 20  EmpWorkLifeBalance            1200 non-null   int64
 21  ExperienceYearsAtThisCompany  1200 non-null   int64
 22  ExperienceYearsInCurrentRole  1200 non-null   int64
 23  YearsSinceLastPromotion       1200 non-null   int64
 24  YearsWithCurrManager          1200 non-null   int64
 25  Attrition                     1200 non-null   object
 26  PerformanceRating             1200 non-null   int64
dtypes: int64(19), object(8)
memory usage: 262.5+ KB

In [7]:
df.describe()

,Age,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,EmpHourlyRate,EmpJobInvolvement,EmpJobLevel,EmpJobSatisfaction,NumCompaniesWorked,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,PerformanceRating
count,1200.000000,1200.000000,1200.00000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000
mean,36.918333,9.165833,2.89250,2.715833,65.981667,2.731667,2.067500,2.732500,2.665000,15.222500,2.725000,11.330000,2.785833,2.744167,7.077500,4.291667,2.194167,4.105000,2.948333
std,9.087289,8.176636,1.04412,1.090599,20.211302,0.707164,1.107836,1.100888,2.469384,3.625918,1.075642,7.797228,1.263446,0.699374,6.236899,3.613744,3.221560,3.541576,0.518866
min,18.000000,1.000000,1.00000,1.000000,30.000000,1.000000,1.000000,1.000000,0.000000,11.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000
25%,30.000000,2.000000,2.00000,2.000000,48.000000,2.000000,1.000000,2.000000,1.000000,12.000000,2.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000,3.000000
50%,36.000000,7.000000,3.00000,3.000000,66.000000,3.000000,2.000000,3.000000,2.000000,14.000000,3.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000,3.000000
75%,43.000000,14.000000,4.00000,4.000000,83.000000,3.000000,3.000000,4.000000,4.000000,18.000000,4.000000,15.000000,3.000000,3.000000,10.000000,7.000000,3.000000,7.000000,3.000000
max,60.000000,29.000000,5.00000,4.000000,100.000000,4.000000,5.000000,4.000000,9.000000,25.000000,4.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000,4.000000

In [8]:
df.corr(numeric_only=True)

,Age,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,EmpHourlyRate,EmpJobInvolvement,EmpJobLevel,EmpJobSatisfaction,NumCompaniesWorked,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,PerformanceRating
Age,1.000000,0.020937,0.207313,0.013814,0.062867,0.027216,0.509139,-0.002436,0.284408,-0.006105,0.049749,0.680886,-0.016053,-0.019563,0.318852,0.217163,0.228199,0.205098,-0.040164
DistanceFromHome,0.020937,1.000000,0.045856,-0.017719,0.013730,0.003231,0.017270,-0.003036,-0.021411,0.044974,-0.009509,0.027306,-0.032082,-0.044788,0.021908,0.019898,0.013246,0.017860,-0.046142
EmpEducationLevel,0.207313,0.045856,1.000000,-0.037103,0.014095,0.027544,0.100734,0.000357,0.128674,0.002358,-0.016690,0.151062,-0.013674,0.010276,0.076332,0.066672,0.054313,0.088988,0.020529
EmpEnvironmentSatisfaction,0.013814,-0.017719,-0.037103,1.000000,-0.049501,0.004865,-0.008272,-0.004319,0.017270,-0.047271,-0.010504,-0.012894,0.001192,-0.000262,-0.000561,0.025491,0.010732,-0.011702,0.395561
EmpHourlyRate,0.062867,0.013730,0.014095,-0.049501,1.000000,0.054741,-0.018606,-0.066417,0.040484,-0.015934,0.008783,0.026034,-0.024160,0.016189,-0.000399,-0.011871,-0.010000,-0.004576,-0.043116
EmpJobInvolvement,0.027216,0.003231,0.027544,0.004865,0.054741,1.000000,-0.034349,-0.005501,0.018211,-0.001742,0.018037,-0.028851,-0.025168,-0.014129,-0.039720,0.002910,-0.019944,0.012924,-0.010539
EmpJobLevel,0.509139,0.017270,0.100734,-0.008272,-0.018606,-0.034349,1.000000,-0.011853,0.127477,-0.020975,0.002992,0.784229,-0.000389,0.049218,0.540377,0.399235,0.360880,0.374872,-0.076632
EmpJobSatisfaction,-0.002436,-0.003036,0.000357,-0.004319,-0.066417,-0.005501,-0.011853,1.000000,-0.049865,0.031847,-0.022028,-0.026824,-0.028031,-0.018548,0.001807,0.002018,-0.006508,-0.022096,0.000606
NumCompaniesWorked,0.284408,-0.021411,0.128674,0.017270,0.040484,0.018211,0.127477,-0.049865,1.000000,-0.011788,0.057917,0.221505,-0.050817,0.002489,-0.129797,-0.097271,-0.031656,-0.109937,0.020980
EmpLastSalaryHikePercent,-0.006105,0.044974,0.002358,-0.047271,-0.015934,-0.001742,-0.020975,0.031847,-0.011788,1.000000,-0.042892,-0.005933,-0.013439,-0.017001,-0.019830,-0.004957,-0.015911,-0.007666,0.333722
EmpRelationshipSatisfaction,0.049749,-0.009509,-0.016690,-0.010504,0.008783,0.018037,0.002992,-0.022028,0.057917,-0.042892,1.000000,0.018089,0.025975,-0.004906,0.015612,-0.032131,0.026253,-0.006426,-0.019502
TotalWorkExperienceInYears,0.680886,0.027306,0.151062,-0.012894,0.026034,-0.028851,0.784229,-0.026824,0.221505,-0.005933,0.018089,1.000000,-0.022113,0.015495,0.633555,0.460700,0.412781,0.460783,-0.068141
TrainingTimesLastYear,-0.016053,-0.032082,-0.013674,0.001192,-0.024160,-0.025168,-0.000389,-0.028031,-0.050817,-0.013439,0.025975,-0.022113,1.000000,0.037048,0.008564,0.010222,0.018831,-0.013237,-0.005443
EmpWorkLifeBalance,-0.019563,-0.044788,0.010276,-0.000262,0.016189,-0.014129,0.049218,-0.018548,0.002489,-0.017001,-0.004906,0.015495,0.037048,1.000000,0.023479,0.045719,0.015773,0.010518,0.124429
ExperienceYearsAtThisCompany,0.318852,0.021908,0.076332,-0.000561,-0.000399,-0.039720,0.540377,0.001807,-0.129797,-0.019830,0.015612,0.633555,0.008564,0.023479,1.000000,0.764102,0.620230,0.759258,-0.111645
ExperienceYearsInCurrentRole,0.217163,0.019898,0.066672,0.025491,-0.011871,0.002910,0.399235,0.002018,-0.097271,-0.004957,-0.032131,0.460700,0.010222,0.045719,0.764102,1.000000,0.540600,0.728973,-0.147638
YearsSinceLastPromotion,0.228199,0.013246,0.054313,0.010732,-0.010000,-0.019944,0.360880,-0.006508,-0.031656,-0.015911,0.026253,0.412781,0.018831,0.015773,0.620230,0.540600,1.000000,0.491199,-0.167629
YearsWithCurrManager,0.205098,0.017860,0.088988,-0.011702,-0.004576,0.012924,0.374872,-0.022096,-0.109937,-0.007666,-0.006426,0.460783,-0.013237,0.010518,0.759258,0.728973,0.491199,1.000000,-0.122313
PerformanceRating,-0.040164,-0.046142,0.020529,0.395561,-0.043116,-0.010539,-0.076632,0.000606,0.020980,0.333722,-0.019502,-0.068141,-0.005443,0.124429,-0.111645,-0.147638,-0.167629,-0.122313,1.000000

In [9]:
df.isna().sum()

Age                             0
Gender                          0
EducationBackground             0
MaritalStatus                   0
EmpDepartment                   0
EmpJobRole                      0
BusinessTravelFrequency         0
DistanceFromHome                0
EmpEducationLevel               0
EmpEnvironmentSatisfaction      0
EmpHourlyRate                   0
EmpJobInvolvement               0
EmpJobLevel                     0
EmpJobSatisfaction              0
NumCompaniesWorked              0
OverTime                        0
EmpLastSalaryHikePercent        0
EmpRelationshipSatisfaction     0
TotalWorkExperienceInYears      0
TrainingTimesLastYear           0
EmpWorkLifeBalance              0
ExperienceYearsAtThisCompany    0
ExperienceYearsInCurrentRole    0
YearsSinceLastPromotion         0
YearsWithCurrManager            0
Attrition                       0
PerformanceRating               0
dtype: int64

### No null values in the dataset, no need to remove or process null

### Checking for outliers
 * Checking for outliers using IQR Method for numerical columns which may have outliers present
 * Outliers affect the model performance and may skew the predictions drastically.
 * Outliers needs to be either removed or replaced with mean or median of the data for better model performance

In [10]:
import pandas as pd

def sum_of_outliers_iqr(df, columns):
    outlier_sums = {}
    
    for col in columns:
        # Calculate Q1 (25th percentile) and Q3 (75th percentile)
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        
        # Calculate IQR
        IQR = Q3 - Q1
        
        # Determine outliers
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        
        # Find outliers and their sum
        outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
        outlier_sum = outliers[col].unique()
        
        outlier_sums[col] = outlier_sum
    
    return outlier_sums

# List of columns to check for outliers
columns_to_check = [
    'Age', 'DistanceFromHome', 'EmpHourlyRate', 'EmpLastSalaryHikePercent',
    'TotalWorkExperienceInYears', 'TrainingTimesLastYear',
    'ExperienceYearsAtThisCompany', 'ExperienceYearsInCurrentRole',
    'YearsSinceLastPromotion', 'YearsWithCurrManager'
]

# Calculate the sum of outliers
outlier_sums = sum_of_outliers_iqr(df, columns_to_check)

# Print the sum of outliers for each column
for col, sum_value in outlier_sums.items():
    print(f"Column: {col}, Sum of Outliers: {sum_value}")

Column: Age, Sum of Outliers: []
Column: DistanceFromHome, Sum of Outliers: []
Column: EmpHourlyRate, Sum of Outliers: []
Column: EmpLastSalaryHikePercent, Sum of Outliers: []
Column: TotalWorkExperienceInYears, Sum of Outliers: [30 34 29 35 33 31 32 36 37 38 40]
Column: TrainingTimesLastYear, Sum of Outliers: [5 6 0]
Column: ExperienceYearsAtThisCompany, Sum of Outliers: [21 22 34 26 31 32 24 33 29 25 36 30 23 27 37 40]
Column: ExperienceYearsInCurrentRole, Sum of Outliers: [16 15 17 18]
Column: YearsSinceLastPromotion, Sum of Outliers: [12 11 14  8 15 10 13  9]
Column: YearsWithCurrManager, Sum of Outliers: [16 17 15]

### Instead of removing outliers , as we have a limited dataset, we will replace it with the median of other entries.

In [11]:
import pandas as pd

def replace_outliers(df, columns, strategy='median'):
    df_copy = df.copy()  # Create a copy to avoid modifying the original dataframe
    
    for col in columns:
        # Calculate Q1 (25th percentile) and Q3 (75th percentile)
        Q1 = df_copy[col].quantile(0.25)
        Q3 = df_copy[col].quantile(0.75)
        
        # Calculate IQR
        IQR = Q3 - Q1
        
        # Determine outliers
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        
        # Replace outliers with median or mean
        if strategy == 'median':
            replacement_value = df_copy[col].median()
        elif strategy == 'mean':
            replacement_value = df_copy[col].mean()
        else:
            raise ValueError("Strategy should be either 'median' or 'mean'")
        
        # Replace outliers with the chosen value
        df_copy.loc[(df_copy[col] < lower_bound) | (df_copy[col] > upper_bound), col] = replacement_value
    
    return df_copy

# List of columns to replace outliers
columns_to_replace = [
    'Age', 'DistanceFromHome', 'EmpHourlyRate', 'EmpLastSalaryHikePercent',
    'TotalWorkExperienceInYears', 'TrainingTimesLastYear',
    'ExperienceYearsAtThisCompany', 'ExperienceYearsInCurrentRole',
    'YearsSinceLastPromotion', 'YearsWithCurrManager'
]

# Replace outliers with median
df = replace_outliers(df, columns_to_replace, strategy='median')

### Data transformation : Encoding Categorical Data

* #### Many fields in our dataset are categorical in nature, i.e. either they follow a rank or hierarchy or describes the distribution class of a column. But for model training we need the data to be in numerical format, hence we will compute them using LabelEncoder & OrdinalEncoder.
* #### For columns like gender , employee department etc, we do not have a specific order or magnitude(rank) , hence the model does not need to give a weighted value to each categorical value. For such cases, we use LabelEncoding to process categorical values.
* #### For columns which describe rank and the importance of a feature with its values, like Job Satisfaction , Job level, Travel Frequency , We need to keep the order intact and hence use OrdinalEncoding to process each value of a column while keeping its importance intact

In [12]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder
# These columns do not follow any specific order or rank 
nominal_columns = ['Gender', 'MaritalStatus', 'EmpDepartment', 'OverTime', 'Attrition','EducationBackground','EmpJobRole']

# Apply Label Encoding 
label_encoders = {}
for col in nominal_columns:
    if col in df.columns:
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col])
        label_encoders[col] = le
    else:
        print(f"Missing nominal column: {col}")

# Ordinal columns : these columns have a specific 
ordinal_columns = {
    'BusinessTravelFrequency': ['Non-Travel', 'Travel_Rarely', 'Travel_Frequently']
}

# Apply Ordinal Encoding to ordinal columns
for col, categories in ordinal_columns.items():
    if col in df.columns:
        encoder = OrdinalEncoder(categories=[categories])
        df[col] = encoder.fit_transform(df[[col]])
    else:
        print(f"Missing ordinal column: {col}")

In [13]:
df.head()

,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
EmpNumber,,,,,,,,,,,,,,,,,,,,,
E1001000,32,1,2,2,5,13,1.0,10,3,4,...,4,10,2,2,10,7,0,8,0,3
E1001006,47,1,2,2,5,13,1.0,14,4,4,...,4,20,2,3,7,7,1,7,0,3
E1001007,40,1,1,1,5,13,2.0,5,4,4,...,3,20,2,3,18,13,1,12,0,4
E1001009,41,1,0,0,3,8,1.0,10,4,2,...,2,23,2,2,5,6,1,6,0,3
E1001010,60,1,2,2,5,13,1.0,16,4,1,...,4,10,1,3,2,2,2,2,0,3

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE

In [14]:
# Split the dataset
X = df.drop('Attrition', axis=1)
y = df['Attrition']

#### Splitting the dataset into 80/20 split of train and test dataset. We will train the data to learn complex patterns and find relationships while 20% will be used to test our predictions

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#### Standardising the data is a crucial step before we train the model as it gives a balanced , scaled data which models can learn effectively from

In [17]:
# Standardize/Normalize
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

### SMOTE for Class Imbalance: 
***
* #### For our First problem , Solving for attrition , we face the issue of CLASS IMBALANCE , as the amount of entries in which employees left the company are relatively far lesser than those who stayed. This causes imbalance and the model might not be able to learn and train accurately the ATTRITION_YES entries. 
* #### SMOTE : Synthetic Minority Over-sampling Technique is used to balance both the values by feeding values of minority data into our datset for better learning

In [18]:
# Apply SMOTE
smote = SMOTE()
X_train, y_train = smote.fit_resample(X_train, y_train)

In [19]:
df

,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
EmpNumber,,,,,,,,,,,,,,,,,,,,,
E1001000,32,1,2,2,5,13,1.0,10,3,4,...,4,10,2,2,10,7,0,8,0,3
E1001006,47,1,2,2,5,13,1.0,14,4,4,...,4,20,2,3,7,7,1,7,0,3
E1001007,40,1,1,1,5,13,2.0,5,4,4,...,3,20,2,3,18,13,1,12,0,4
E1001009,41,1,0,0,3,8,1.0,10,4,2,...,2,23,2,2,5,6,1,6,0,3
E1001010,60,1,2,2,5,13,1.0,16,4,1,...,4,10,1,3,2,2,2,2,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
E100992,27,0,3,0,5,13,2.0,3,1,4,...,2,6,3,3,6,5,0,4,0,4
E100993,37,1,1,2,1,15,1.0,10,2,4,...,1,4,2,3,1,0,0,0,0,3
E100994,50,1,3,1,1,15,1.0,28,1,4,...,3,20,3,3,20,8,3,8,0,3
E100995,34,0,3,2,0,1,1.0,9,3,4,...,2,9,3,4,8,7,7,7,0,3
E100998,24,0,1,2,5,13,1.0,3,2,1,...,1,4,3,3,2,2,2,0,1,2

In [20]:
df

,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
EmpNumber,,,,,,,,,,,,,,,,,,,,,
E1001000,32,1,2,2,5,13,1.0,10,3,4,...,4,10,2,2,10,7,0,8,0,3
E1001006,47,1,2,2,5,13,1.0,14,4,4,...,4,20,2,3,7,7,1,7,0,3
E1001007,40,1,1,1,5,13,2.0,5,4,4,...,3,20,2,3,18,13,1,12,0,4
E1001009,41,1,0,0,3,8,1.0,10,4,2,...,2,23,2,2,5,6,1,6,0,3
E1001010,60,1,2,2,5,13,1.0,16,4,1,...,4,10,1,3,2,2,2,2,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
E100992,27,0,3,0,5,13,2.0,3,1,4,...,2,6,3,3,6,5,0,4,0,4
E100993,37,1,1,2,1,15,1.0,10,2,4,...,1,4,2,3,1,0,0,0,0,3
E100994,50,1,3,1,1,15,1.0,28,1,4,...,3,20,3,3,20,8,3,8,0,3
E100995,34,0,3,2,0,1,1.0,9,3,4,...,2,9,3,4,8,7,7,7,0,3
E100998,24,0,1,2,5,13,1.0,3,2,1,...,1,4,3,3,2,2,2,0,1,2

In [21]:
df.to_csv('training_data.csv')